/* Dark Variables */
$logo-color: #e0e0e0;
$dkgray: #707070;
$ltgray: #E0E0E0;
$nav-border: #8b8989;
$background: #444444;
$icon-color: #B1E019;
$link-base: $ltgray;
$link-hover: #B1E019;
$type-base: #C3C3C3;
$type-highlight: #B1E019;
$h1-rotate-base: $dkgray;
$h1-rotate-highlight: #E6DF22;
$h1-rotate-highlight-shadow: #585858;
$button-gradient: linear-gradient(75deg, #E5DF23 0%, #ABE01A 100%);
$button-shadow: rgba(112, 112, 112, 1);
$button-hover-text: #fff;
$button-gradient-hover: linear-gradient(75deg, #5ed428 0%, #24c9ce 100% );
//Services Section
$flip-card-front: $dkgray;
$flip-card-back: black;
$flip-card-content: #B1E018;
//Skills Section
$skill-block-content: #B1E018;
$skill-block-background: black;
//WebAward Section
$webaward-bg-gradient: linear-gradient(75deg, #9A3009 0%, #D17200 100%);
$webaward-base-type: #fff;
$webaward-type-highlight: #7FD2DD;
// Cost Section
$cost-heading-base: #fff;
$cost-heading-highlight: #F5DF02;
$cost-type: #fff;
$cost-bg-gradient: linear-gradient(75deg, #69A4AC 0%,#045260 100%);
//Contact Section
$contact-type-base: #ddd;
$contact-type-highlight: #7FD2DD;
$contact-link-base: #7FD2DD;
$contact-link-hover: #C31FA3;
$contact-button-gradient: linear-gradient(180deg, #7FD2DD 0%, #0A648D 100%);
$contact-button-type: #fff;
$contact-bg-gradient: linear-gradient(75deg, #707070 0%, #000 100%);
$contact-field-label: #c3c3c3;
$contact-field-border: white;
//Work Thumbs
$thumb-highlight: #25c9cd;
//Project Modal
$modal-bg: #1D6C76;
$modal-elements: #F8FEC2;
$modal-body-text: #fff;

body.dark-mode {
  background-color: $background;
  color: white;
  a { 
    color: $link-base;
    &:hover{
      color: $link-hover;
    } 
  }
  .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content:hover {
    color: $link-hover;
  }
  #jh-logo {
    path, rect {
      fill: $logo-color;
    }
  }
  h2, h3 { 
    em {
      color: $type-highlight;
      font-style: normal;
    } 
  }
  .wp-block-button__link {
    background: $button-gradient;
    box-shadow: 5px 5px 2px 0px $button-shadow;
    color: #555555;
    border-radius: .2rem;
    &:hover {
      color: $button-hover-text;
      background:$button-gradient-hover; 
      transition: all ease .5s;
    }
    &.clicked { /* class added with JS */
      color: #fff !important;
      background: $dkgray !important; 
    }
  }
  #toggle-column-1 {
    h3 {
      &::before {
        color: $icon-color;
      }
    }
    .flip-card-front {
      color: $icon-color;
      background: $flip-card-front
    }
    .flip-card-back {
      color: $icon-color;
      background: $flip-card-back
    }
  }
  #toggle-column-2 { /* Skills Cards */
    li {
      color: $skill-block-content;
      background-color: $skill-block-background;
    }
  }
  #webawards {
    background: $webaward-bg-gradient;
    p {
      color: #fff;
    }
    h2 {
      color: $webaward-base-type;
      em {
        color: $webaward-type-highlight;
      }
    }
  }
  #website-cost {
    background: $cost-bg-gradient;
    color: $cost-type;
    h2 {
      color: $cost-heading-base;
      em {
        color: $cost-heading-highlight;
      }
    }
  }
  #contact {
    background: $contact-bg-gradient;
    color: $contact-type-base;
    h2 {
      em {
        color: $contact-type-highlight;
      }
    }
    .wp-social-link{ 
      background: unset;
      a {
        color: $contact-link-base;
        &:hover {
          color: $contact-link-hover;
        }
      }
    } 
    .submit-wrap input[type="submit"] {
      color: $contact-button-type;
      background: $contact-button-gradient;
    }
    .nf-field-label > label, .ninja-forms-field::placeholder {
      color: $contact-field-label;
    }
    .ninja-forms-field {
      border-bottom: 1px solid $contact-field-border;
      color: white;
    }
    textarea.ninja-forms-field {
      border: 1px solid $contact-field-border;
    }
  }

  //Estimator
  .estimator {
    .nf-breadcrumbs {
      li {
        a {
          color: $dkgray;
          &:hover {
            color: $link-hover;
          }
        }
      }
    }
    .nf-field-label > label, .ninja-forms-field::placeholder {
      color: $contact-field-label;
    }
    .ninja-forms-field {
      border-bottom: 1px solid $contact-field-border;
      color: white;
    }
    textarea.ninja-forms-field {
      border: 1px solid $contact-field-border;
    }
    .nf-breadcrumbs {
      .active {
        a {
          color: $link-hover;
        }
      }
    }
    .nf-next,
    .nf-previous {
      background: $button-gradient;
      color: $dkgray; 
      &:hover {
        color: $button-hover-text;
        background: $button-gradient-hover;
        transition: all .3s;
      }
    }
    .calculate {
      background: $button-gradient;
      box-shadow: 5px 5px 2px 0px $button-shadow;
      color: black;
      border-radius: .2rem;
      &:hover {
        color: $button-hover-text;
        background: $button-gradient-hover;
        transition: all .3s;
      }
    }
  }
  //Work Thumb Selection
  .thumb-highlight { outline: 4px solid $thumb-highlight }
  //Project Modal
  #outer-modal {
    background-color: $modal-bg;
    .modal-close {
      color: $link-hover;
    }
    .inner-modal {
      color: $modal-body-text;
      h2 {
        color: $modal-elements;
      }
      hr {
        border-color: $modal-elements;
        border-style: solid;
      }
      .project-header {
        background-color: $modal-bg;
        border-bottom: 1.5rem solid $modal-bg;
        h2 {
          border-bottom: 2px solid $modal-elements;
        }
      }
      .project-footer a {
        color: $modal-elements;
        text-decoration: none;
        &:hover {
          color: $link-hover;
        }
      }
    }
  }
}