/* Dark Variables */
$dkgray: #707070;
$nav-border: #8b8989;
$background: #000;
$group-border: blue;
$icon-color: blue;
$modal-bg: #F8FEC3; //change to dark version

body.dark-mode {
  #toggle-column-1 {
    h3 {
      &::before {
        color: $icon-color;
      }
    }
  }
  background-color: $background;
  color: white;
  nav {
    border-bottom: 1px solid $nav-border;
  }
}
