/* Light Variables */
$dkgray: #707070;
$nav-border: #E0E0E0;
$background: #fff;
$group-border: pink;
$icon-color: pink;

body {
  #toggle-column-1 {
    h3 {
      &::before {
        color: $icon-color;
        border-color: $group-border;
      }
    }
  }
  background-color: $background;
  color: black;
  nav {
    border-bottom: 1px solid $nav-border;
  }
  .webdev-group, .branding-group, .ecommerce-group, .email-group {
    border-left: 3px solid $group-border;
  }
}