/*
* Define Colors
*/
/* Light Palette */
/* Light Variables */
/* */
/* */
/* */
/* */
body {
  background-color: #fff;
  color: black;
}
body a {
  color: #707070;
}
body a:hover {
  color: #9FC417;
}
body h1.h1-current {
  color: #E6DF22;
  text-shadow: 0.5vw 0.5vw 0.1rem rgb(112, 112, 112);
}
@media (min-width: 1000px) {
  body h1.h1-current {
    text-shadow: 0.35rem 0.35rem 0.1rem rgb(112, 112, 112);
  }
}
body h1.h1-rotate {
  color: #707070;
}
body h2 em {
  color: #B1E019;
  font-style: normal;
}
body .wp-block-button__link {
  background: linear-gradient(75deg, #E5DF23 0%, #ABE01A 100%);
  box-shadow: 5px 5px 2px 0px rgb(112, 112, 112);
  color: #707070;
  border-radius: 0.2rem;
}
body .wp-block-button__link:hover {
  color: #fff;
}
body nav {
  border-bottom: 1px solid #E0E0E0;
}
body #toggle-column-1 h3::before {
  color: #B1E019;
}
body #webawards {
  background: linear-gradient(150deg, #F0F0F0 0%, #A0A0A0 100%);
}
body #webawards h2 {
  color: #707070;
}
body #webawards h2 em {
  color: #58C9E9;
}
body #website-cost {
  background: linear-gradient(75deg, #7EC4F3 0%, #206BC3 100%);
  color: #000;
}
body #website-cost h2 {
  color: #fff;
}
body #website-cost h2 em {
  color: #F6DF02;
}
body #contact {
  background: linear-gradient(75deg, #FFF8C4 0%, #ACE019 100%);
  color: #000;
}
body #contact h2 em {
  color: #1E8AC3;
}
body #contact .wp-social-link {
  background: unset;
}
body #contact .wp-social-link a {
  color: #1E8AC3;
}
body #contact .wp-social-link a:hover {
  color: #C31FA3;
}

/* Dark Palette */
/* Dark Variables */
body.dark-mode {
  background-color: #000;
  color: white;
}
body.dark-mode #toggle-column-1 h3::before {
  color: blue;
}
body.dark-mode nav {
  border-bottom: 1px solid #8b8989;
}

/* Mixins */
#jh-logo {
  width: 25px;
  height: auto;
}
#jh-logo path, #jh-logo rect {
  fill: #707070; /* move to light/dark css */
}

@keyframes scale-up {
  from {
    scale: 0.5;
  }
}
figure img {
  animation: scale-up linear both;
  animation-timeline: view();
  animation-range: 25vh 75vh;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes shadow-in {
  to {
    box-shadow: 0 10px 10px #000300;
  }
}
nav {
  animation: fade-in linear both, shadow-in linear both;
  animation-timeline: scroll();
}

/* Remove default button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  color: #707070;
}

.entry-content > .alignfull {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  margin-block-start: 0;
}

.entry-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 600px) {
  .entry-content > .alignfull {
    width: 112%;
    margin-left: -6%;
    margin-right: -6%;
  }
  .entry-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.section-padding {
  padding: 1.5rem;
}

@media (min-width: 600px) {
  .section-padding {
    padding: 3rem;
  }
}
@media (min-width: 900px) {
  .section-padding {
    padding: 6rem;
  }
}
@media (min-width: 1200px) {
  .section-padding {
    padding: 9rem;
  }
}
/*
* Home Screens
*/
#home-screens {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 28%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 400px;
  height: 450px;
  transform: rotate(-30deg) skew(30deg) translateX(150px);
  /* https://blog.openreplay.com/transform-your-website--create-3d-magic-with-css-grid/ */
}
#home-screens figure {
  background-color: #707070;
  margin: 0;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}
#home-screens .home-screen-Karma {
  grid-area: 2/1/12/2;
}
#home-screens .home-screen-Medix {
  display: none;
}
#home-screens .home-screen-Solihten {
  display: none;
}
#home-screens .home-screen-GVhome {
  display: none;
}
#home-screens .home-screen-MABweb {
  grid-area: 12/2/14/3;
}
#home-screens .home-screen-MABmemday {
  grid-area: 3/3/9/4;
}
#home-screens .home-screen-MABplanet {
  grid-area: 1/2/8/3;
}
#home-screens .home-screen-OD {
  display: none;
}
#home-screens .home-screen-Eckhart {
  display: none;
}
#home-screens .home-screen-Easter {
  grid-area: 15/1/19/2;
}

@media (min-width: 900px) {
  #home-screens {
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    height: 650px;
    transform: rotate(-30deg) skew(30deg) translateX(250px);
  }
  #home-screens .home-screen-Karma {
    grid-area: 3/1/13/2;
  }
  #home-screens .home-screen-Medix {
    grid-area: 7/3/15/4;
    display: block;
  }
  #home-screens .home-screen-Solihten {
    grid-area: 3/4/14/5;
    display: block;
  }
  #home-screens .home-screen-GVhome {
    grid-area: 1/3/6/4;
    display: block;
  }
  #home-screens .home-screen-MABweb {
    display: none;
  }
  #home-screens .home-screen-MABmemday {
    grid-area: 11/2/17/3;
  }
  #home-screens .home-screen-MABplanet {
    grid-area: 2/2/9/3;
  }
  #home-screens .home-screen-OD {
    display: none;
  }
  #home-screens .home-screen-Eckhart {
    grid-area: 3/5/11/6;
  }
  #home-screens .home-screen-Easter {
    grid-area: 13/1/18/2;
  }
}
@media (min-width: 1200px) {
  #home-screens {
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 800px;
    height: 850px;
    transform: rotate(-30deg) skew(30deg) translateX(250px);
  }
  #home-screens .home-screen-Karma {
    grid-area: 3/1/13/2;
  }
  #home-screens .home-screen-Medix {
    grid-area: 10/2/18/3;
  }
  #home-screens .home-screen-Solihten {
    grid-area: 2/2/10/3;
  }
  #home-screens .home-screen-GVhome {
    grid-area: 1/3/6/4;
  }
  #home-screens .home-screen-MABweb {
    grid-area: 6/3/9/4;
    display: block;
  }
  #home-screens .home-screen-MABmemday {
    grid-area: 9/4/15/5;
  }
  #home-screens .home-screen-MABplanet {
    grid-area: 2/4/9/5;
  }
  #home-screens .home-screen-OD {
    grid-area: 9/3/19/4;
    display: block;
  }
  #home-screens .home-screen-Eckhart {
    grid-area: 3/5/11/6;
    display: block;
  }
  #home-screens .home-screen-Easter {
    grid-area: 13/1/18/2;
  }
}
@media (min-width: 1600px) {
  #home-screens {
    width: 1200px;
    height: 1250px;
    right: 0;
    top: 32%;
    transform: rotate(-30deg) skew(25deg) translateX(350px);
    transform: rotate(-30deg) skew(30deg) translateX(350px);
  }
}
/* 
* Homepage Rotating Headlines 
*/
#intro {
  position: relative;
}

h1:first-of-type {
  padding-top: 8vh;
}

.h1-current {
  opacity: 1;
  font-weight: 600;
  z-index: 1;
}

.h1-rotate {
  opacity: 0.1;
  z-index: -1;
  position: relative;
}

/* 
* Typography 
*/
/* Clamp: min size, preferred size, max size) */
h1 {
  font-size: clamp(2.5rem, 3rem + 3vw, 12rem);
  line-height: 0.8;
  letter-spacing: -0.075rem;
}

h2 {
  font-size: clamp(2rem, 1rem + 3vw, 4rem);
  line-height: 0.9;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 3.5rem);
  line-height: 0.9;
  letter-spacing: -0.04rem;
}

h4 {
  font-size: clamp(1.45rem, 1rem + 2vw, 2.5rem);
  line-height: 0.9;
  letter-spacing: -0.03rem;
}

h5 {
  font-size: clamp(1.35rem, 1rem + 1.5vw, 2rem);
  line-height: 0.9;
  letter-spacing: -0.02rem;
}

h6 {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  line-height: 0.9;
  letter-spacing: -0.01rem;
}

p, li {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.15rem);
  line-height: 1.2;
  letter-spacing: -0.025rem;
  font-weight: 300;
}

nav {
  padding: 1rem 0;
  margin: 0 1rem;
}
@media (min-width: 600px) {
  nav {
    margin: 1rem 5%;
  }
}

/*
* Work Filter Buttons
*/
#filter-buttons a.wp-element-button {
  background-color: unset;
  color: gray; /* move to light/dark css */
}
#filter-buttons a:hover {
  background-color: red; /* move to light/dark css */
  transition: all ease 0.5s;
}
#filter-buttons a.clicked { /* add class with JS */
  background-color: #707070; /* move to light/dark css */
}

/* 
* Toggle Swtich based on: https://github.com/NadeeshaEranjan 
*/
.toggle-container {
  display: flex;
  padding: 2rem;
  align-items: center;
}

div.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 2rem auto;
}

label {
  font-size: 1rem;
  color: #707070;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 200px;
  height: 2.5rem;
  background: #E0E0E0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  top: 0rem;
  right: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  line-height: 100%;
  height: 100%;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-color-mode-switch input[type=checkbox] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type=checkbox]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 50%;
}

.btn-color-mode-switch input[type=checkbox]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  left: 20px;
}

/* Switch to Col 2 */
body:has(input[type=checkbox]:checked) #toggle-column-2 {
  opacity: 1;
  transition: all 0.3s ease;
  height: auto;
}

body:has(input[type=checkbox]:checked) #toggle-column-1 {
  opacity: 0;
  transition: all 0.3s ease;
  height: 0;
}

/* Switch back to Col 1 */
body:not(:has(input[type=checkbox]:checked)) #toggle-column-2 {
  opacity: 0;
  transition: all 0.3s ease;
  height: 0;
}

body:not(:has(input[type=checkbox]:checked)) #toggle-column-1 {
  opacity: 1;
  transition: all 0.3s ease;
  height: auto;
}

/*
* Toggle Columns
*/
#toggle-column-1 {
  border: 1px solid sandybrown;
  opacity: 1;
}
#toggle-column-1 .wp-block-column {
  min-height: 500px;
  display: flex;
  align-items: center;
}

#toggle-column-2 {
  border: 1px solid plum;
  opacity: 0;
  height: 0;
}

@keyframes spin-forward {
  0% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(-200deg);
  }
}
@keyframes spin-back {
  0% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(-20deg);
  }
}
#toggle-column-1 .wp-block-columns {
  perspective: 1000px;
}

.wp-block-column:has(.flip-card-front) {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transform-origin: center right;
}

.flip-card-front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3rem;
  animation: spin-forward linear both;
  animation-timeline: view();
  animation-range: 25vh 75vh;
  background: #707070; /* move to light/dark css */
  margin-block-start: 0; /* prevents offset from card back */
}

.flip-card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3rem;
  transform: rotateY(160deg);
  animation: spin-back linear both;
  animation-timeline: view();
  animation-range: 25vh 75vh;
  background: black; /* move to light/dark css */
}

.flip-card-back li {
  margin-bottom: 1.2rem;
}

.webdev-list h3::before {
  font-family: "fontawesome";
  font-size: 1.35rem;
  font-weight: normal;
  border: 2px solid #707070;
  margin-right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  padding: 0.15rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  content: "\f121";
}

.branding-list h3::before {
  font-family: "fontawesome";
  font-size: 1.35rem;
  font-weight: normal;
  border: 2px solid #707070;
  margin-right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  padding: 0.15rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  content: "\f53f";
}

.ecommerce-list h3::before {
  font-family: "fontawesome";
  font-size: 1.35rem;
  font-weight: normal;
  border: 2px solid #707070;
  margin-right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  padding: 0.15rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  content: "\f07a";
}

.email-list h3::before {
  font-family: "fontawesome";
  font-size: 1.35rem;
  font-weight: normal;
  border: 2px solid #707070;
  margin-right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  padding: 0.15rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  content: "\f0e0";
}

.social-list h3::before {
  font-family: "fontawesome";
  font-size: 1.35rem;
  font-weight: normal;
  border: 2px solid #707070;
  margin-right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  padding: 0.15rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  content: "#";
}

.flip-card-front i {
  font-size: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* Portfolio Section
*/
#portfolio-intro {
  position: relative;
  max-width: 720px;
}

/*
* Work Grid
*/
#work-grid {
  margin-top: 1.5rem;
  gap: 0;
}
#work-grid:has(.work-grid-image:hover) .work-grid-image:not(:hover) {
  opacity: 0.3;
  transition: all 0.3s ease;
}
#work-grid .work-grid-icebowl16 {
  grid-column: span 2;
  grid-row: span 1;
}
#work-grid .work-grid-icebowl16 img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/8;
}
#work-grid .work-grid-karma {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-medix {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-gv {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-chcl {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-donut {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-solihten {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-splitstar {
  grid-column: span 2;
  grid-row: span 1;
}
#work-grid .work-grid-splitstar img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/8;
}
#work-grid .work-grid-mab {
  grid-column: span 2;
  grid-row: span 2;
}
#work-grid .work-grid-bc {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-cls {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-icebowl17 {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-astrea {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-hfh {
  grid-column: span 1;
  grid-column: span 1;
}
#work-grid .work-grid-easter {
  grid-column: span 1;
  grid-column: span 1;
}

/*
* Web Awards Section
*/
#webawards .wp-block-column {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#webawards img {
  max-width: 300px;
}

/*
* Website Cost Section
*/
#website-cost .wp-block-columns, #website-cost h2, #website-cost .wp-block-buttons {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*
* Contact Section
*/
#contact {
  /* move color to dark/light styles */
  background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(160, 160, 160));
}
#contact .wp-block-columns {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#contact .wp-block-social-links {
  margin-block-start: 0.5rem;
}
#contact .wp-block-social-links .wp-social-link a svg {
  font-size: 1.5rem;
}
#contact .wp-block-social-links .wp-social-link a span {
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */